div{
  margin: auto;
  max-width: 50%;
  color: yellow;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: -15px;
}
p{
  color: yellow;
}
body{
  background-image: url("./background.png");
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}
