body{
  background-image: url("./background.png");
  font-family: "News Gothic";
  perspective: 200px;
  color: yellow;
  text-align: center;
}

.crawl {
  margin: auto;
  width: 50%;
  transform: rotateX(30deg);
  animation: animateCrawl 20s ease-in;
}

@keyframes animateCrawl {
  0% { transform: rotateX(30deg) translateY(400px); }
  100% { transform: rotateX(30deg) translateY(-300px); }
 }